In [2]:
import numpy as np
import pandas as pd

In [3]:
d=pd.DataFrame({'A':np.arange(1,5,1)*2,'B': (np.arange(1,5,1)*np.arange(1,5,1)) })
d.head(20)

   A   B
0  2   1
1  4   4
2  6   9
3  8  16

In [4]:
d=pd.DataFrame({'A':np.arange(1,5,1)*2,'B': (np.arange(1,5,1)*np.arange(1,5,1)),'Name':['One','Two','Three','Four']  })
d.head(20)

   A   B   Name
0  2   1    One
1  4   4    Two
2  6   9  Three
3  8  16   Four

In [5]:
print( "d.iloc[0,0]: {}".format(d.iloc[0,0]) )
print( "d.iloc[0,1]: {}".format(d.iloc[0,1]  ) )
print( "d.iloc[0,2]: {}".format(d.iloc[0,2]  ) )

d.iloc[0,0]: 2
d.iloc[0,1]: 1
d.iloc[0,2]: One

In [6]:
print( "d.loc[0,'A'] :\n {}".format(d.loc[0,'A'] ))
print( "d.loc[0,'Name'] :\n {}".format(d.loc[:,'Name'] ))

d.loc[0,'A'] :
 2
d.loc[0,'Name'] :
 0      One
1      Two
2    Three
3     Four
Name: Name, dtype: object

In [7]:
print( "The slicing results in another data frame.\n d.loc[:,'Name'] \n{}\n".format( d.loc[:,'Name'] ) )

print( "If you want the values out of the data frame use <>.values.\n d.loc[:,'Name'].values:\n {}".format( d.loc[:,'Name'].values ) )

The slicing results in another data frame.
 d.loc[:,'Name']
0      One
1      Two
2    Three
3     Four
Name: Name, dtype: object

If you want the values out of the data frame use <>.values.
 d.loc[:,'Name'].values:
 ['One' 'Two' 'Three' 'Four']

In [ ]:
d=pd.DataFrame({'A':np.arange(1,5,1)*2,'B': (np.arange(1,5,1)*np.arange(1,5,1)),'Name':['One','Two','Three','Four']  })
d.head()